@import "tailwindcss";
@import "./type.css";

:root {
  font-family: Geist, sans-serif;
}

@media (width > 640px) {
  html {
    font-size: 14px;
    zoom: 1.3;
  }
}

body {
  font-family:
    kag-fallback,
    kag,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.highlight {
  --color: rgb(0, 162, 255);
  border-radius: 0.5em 0.3em;
  background: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(
    80deg,
    color-mix(in srgb, var(--color), transparent 30%),
    color-mix(in srgb, var(--color), transparent 90%) 4%,
    color-mix(in srgb, var(--color), transparent 70%) 94%,
    color-mix(in srgb, var(--color), transparent 30%)
  );
}

/* Print styles */
@page {
  size: A4;
}

.page {
  box-shadow: none;
}

@media (width > 210mm) {
  body {
    @apply bg-neutral-100;
  }

  .page {
    max-width: 210mm;
    height: 297mm;
    padding: 10mm;
    @apply mx-auto bg-white shadow-sm;
  }
}

script {
  display: none !important;
}

.download-cv-button {
  display: none !important;
  text-decoration: none;
  opacity: 0.4;
  transition: opacity 0.15s ease;

  @media (width > 900px) {
    @apply fixed! right-4! top-4! block!;
  }

  &:hover {
    opacity: 1;
  }

  @media print {
    display: none;
  }
}

@media print {
  html {
    zoom: 1;
  }

  body {
    @apply bg-transparent! p-0!;
  }

  .page {
    max-width: auto;
    height: auto;
    size: 210mm 297mm;
    @apply bg-transparent! p-10! shadow-none!;
  }
}

.guides {
  margin: 10mm;
  @apply absolute inset-0 bg-red-400 opacity-10;
}

* {
  scrollbar-color: hsla(0, 0%, 100%, 0.5) none;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: thin;
}

*::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.5), none;
}

*::-webkit-scrollbar-track {
  background: none;
}
