@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    --accent: #000dff;
    --background: 0 0% 95.9%%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --tw-bg-opacity: 1;
    --background: rgb(28 25 23 / var(--tw-bg-opacity));
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  :root {
    --highlight-light: #0033ff;
    --highlight: #000dff;
    --text-highlight: white;
  }
  .dark {
    --highlight-light: #0033ff;
    --highlight: #0033ff;
    --text-highlight: white;
  }

  *::-webkit-scrollbar {
    width: thin;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.5), none;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsla(0, 0%, 100%, 0.5) none;
  }

  .scrollbar-none {
    scrollbar-width: none;
  }

  body {
    @apply bg-background text-foreground;
  }

  .box-shadow-small {
    box-shadow: inset 0px 0px 3px -4px var(--highlight-light);
    @apply inline px-[1px] text-[var(--text-highlight)] underline decoration-[var(--highlight-light)] hover:text-[var(--text-highlight)] hover:decoration-[white];
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    transition: box-shadow 200ms ease-in-out;
  }

  .box-shadow-full {
    box-shadow: inset 0px -50px 0px 0px var(--highlight);
  }

  p a {
    @apply box-shadow-small hover:box-shadow-full font-medium text-stone-900 underline-offset-4 dark:text-stone-200;
  }

  table a {
    @apply box-shadow-small hover:box-shadow-full font-medium text-stone-900 underline-offset-4 dark:text-stone-200;
  }

  [basics-link] {
    @apply box-shadow-small hover:box-shadow-full font-medium text-stone-900 underline-offset-4 dark:text-stone-200;
  }

  .blur {
    --page-top: 64px;
    --h: min(96px, var(--page-top));
    --direction: to bottom;
    --mask-visible: #000;
    --mask-hidden: transparent;
    margin-bottom: calc(-1 * var(--h));
    backdrop-filter: blur(4px);
    position: fixed;
    pointer-events: none;
    height: 64px;
    opacity: 0.95;
    z-index: 1;
    mask-image: linear-gradient(
      var(--direction),
      var(--mask-visible) 20%,
      var(--mask-hidden)
    );
    width: 100%;
  }
}

a:hover > [basics-css-icon] {
  @apply text-black transition-all dark:text-white;
}

/* This is for the writing menu */
[basic-list] {
  @apply transition-all hover:text-stone-500;
}

[basic-list]:hover [basic-list-item] {
  @apply hover:text-black dark:hover:text-white;
}

[basics-css-icon] {
  --OFF: initial;
  --ON: ;
  --size: 1em;
  height: var(--size);
  width: var(--size);
  vertical-align: text-top;
  color: red;
  --icon: var(--icon);
  display: inline-block;
  -webkit-mask: var(--icon);
  mask-size: 100% 100%;
  background-color: currentColor;
  background-size: 100% 100%;
}
.dark {
  [basics-css-icon] {
    color: white;
  }
}

[data-animation-controller="false"] [data-animate] {
  animation: none;
}

[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

[basic-stagger="1"] {
  --stagger: 1;
}

[basic-stagger="2"] {
  --stagger: 2;
}

[basic-stagger="3"] {
  --stagger: 3;
}

[basic-stagger="4"] {
  --stagger: 4;
}

[basic-stagger="5"] {
  --stagger: 5;
}

@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    animation: enter 0.6s both ease;
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
